name: build & test

on:
  push:
  pull_request:

permissions: read-all

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout 10m
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: build
        run: go build -v ./...
      - name: test
        run: go test -gcflags=-l -v  -coverprofile=coverage.txt -covermode=atomic ./...

      - name: upload coverage to Codecov
        uses: codecov/codecov-action@v3
